{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="registration-form">
        <h3>Change Password</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save Change">

        </form>
        {% if messages %}
            <ul class="messages">
                    {% for message in messages %}
                        <li class="message">{{message}}</li>
                    {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}