{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>login</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <p style="margin:4px 0px 0px 14px">credentials are already placed, just click login</p> 
        <form action="" method="POST">
            {% csrf_token %}
            <label for="user_name">User Name:</label>
                <input type="text" name="user_name" placeholder="User_Name" value="guest"><br><br>

            <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password" value="ghty675F"><br><br>

            <input type="submit" value="login">
        </form>
    </div>
    <div class="create">
        <a href="/user/register">Create a new one!!!</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}

{% endblock %}
