{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Edit User Info</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/user-info-edit.css' %}">
{% endblock %}

{% block content %}
<div class="registration-form">
    <h3>Edit user info</h3>
    <form action="" enctype='multipart/form-data' method="POST">

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Change">

    </form>
    <div class="change-password">
        <a href="/user/changepassword">Change Password</a>
    </div>
    {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                    <li class="message">{{message}}</li>
                {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}

{% block javascript %}

{% endblock %}