{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Django shop project</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="description-container">
        <h1 class="title">An django ecommerce website</h1>
        <p class="description">This website has following features:</p>
        <ul class="features">
            <li>User registration,login,logout,change password,edit prfile.</li>
            <li>User fields added=> phone no,profile pics and address.</li>
            <li>CRUD functionality in cart.</li>
            <li>Giving Reviews.</li>
            <li>Paginated list of products.</li>
        </ul>
    </div>
    <h2 class="popular-title">Products</h2>
    <div class="popular-product-card-container">
        {% for product in products %}
                <div class="product-card">
                    <img src="{{product.image.url}}"  class='product-card-img' alt="product image" srcset="">
                    <div class="decoration"></div>
                    <h3>{{product.product_name}}</h3>
                    <p><span class="price">{{product.price}}</span></p>
                    <a  href="/product/product_id={{product.id}}" class="buy-now-btn">More info</a>
                    <div class="add-to-cart">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button type="submit" value="{{product.id}}" name="product_id">
                                <img src="{% static 'img/shopping-cart.png' %}" alt="">
                            </button>
                        </form>
                    </div>
                </div>
        {% endfor %}
        <br>
        <div class="more-container">
            <a class="more-product" href="/products/">More Products</a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
