{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>
        {{product.product_name}}
    </title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
    <div class="description">
        <div class="img-contain">
            <img class="product-img" src="{{product.image.url}}" alt="product img" srcset="">
        </div>
        <h3 class="product-title"> {{product.product_name}}</h3>
        <p class="price">Price: {{product.price}}</p>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="quantity-product">Quantity:</label>
            <input type="number" name="quantity-product" class="quantity-product" value=1>
            <input type="submit" name="btn" value="Add to Cart">
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="mess">{{message}}</div>
            {% endfor %}
        {% endif %}
        <p class="product-des"> {{product.produuct_description}}</p>
    </div>
    <div class="reviews">    
        <h3 class="review-title">Reviews</h3>   
        {% if order_placed %}
            {% if this_review %}
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <form class='review-form' action="" method="POST">
                    {% csrf_token %}
                    {{editreview.as_p}}   
                    <input type="submit" name='btn' value="Edit Review">
                </form>
            {% else %}
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <form class='review-form' action="" method="POST">
                    {% csrf_token %}
                    {{givereview.as_p}}
                    <input type="submit" name='btn' value="Post Review">
                </form>
            {% endif %}
            <hr class="review-divider">
        {% endif %}

        {% for review in reviews %} 
              <div class="review">
                  <h4>{{review.score}}</h4>
                  <h6>-by {{review.reviewer.first_name}} {{review.reviewer.last_name}}</h6>
                  <p>{{review.comment}}</p>
              </div>
        {% endfor %}       
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}