@import './style.scss';

.description-container{
    margin-top: 65px;
    padding: $padding_length;

    .title{
        font-size: 1.5rem;
    }
}

.popular-title{
    margin-left: $padding_length;
    margin-right: $padding_length;
    width: 7rem;
    font-size: 2.5rem;
    font-weight: lighter;
    min-width: 90vw;
    max-width: 90vw;
    text-align: center;
    background-color: $bg2;
    color: $title_color;
    margin-bottom: 0px;
    padding-top: 30px;
}
.popular-product-card-container{
    min-width: 90vw;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    margin-left: $padding_length;
    margin-right: $padding_length;
    flex-wrap: wrap;
    background-color: $bg2;
    margin-top: 0px;
    margin-bottom: 50px;

    a{
        text-decoration: none;
    }
    .more-container{
        text-align: center;
        margin-bottom: 45px;
        flex-basis: 100%;

        .more-product{
            color: $title_color;
            
            &:hover{
                border-bottom: 1px solid $title_color;
            }
        }
    }
}
.product-card{
    background-color: $bg;
    z-index: 2;
    min-height: 300px;
    min-width: 200px;
    max-height: 300px;
    max-width: 200px;
    overflow: hidden;
    border-radius: 25px;
    margin: 45px 75px 45px 75px;
    box-shadow: $nav_bg 0.5px 0.5px 8px  ,$nav_bg 0.5px 0.5px 8px;
    transition: 300ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover{
        transform:scale(1.06);
        box-shadow: $nav_bg 2px 2px 15px , $nav_bg -2px -2px 15px;
    }

    .product-card-img{
        width: auto;
        min-height: 104px;;
        max-height: 104px;
    }
    h3{
        transform: translateY(-25px);
        font-size: 1.6rem;
    }
   
    p{ transform: translateY(-50px);
        span{
            color: $nav_bg;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}

.decoration{
    position: relative;
    width: 300px;
    height: 100px;
    background-color: $nav_bg;
    transform-origin: center center;
    transform: rotate(45deg) translateY(-28px) translateX(100px);
    z-index: -1;
}

.buy-now-btn{
    text-decoration: none;
    background: none;
    cursor: pointer;
    transform: translateY(-50px);
    height: 100px;
    width: 90px;
    padding: 0px 10px 0px 10px;
    border-radius: 13px;
    border: 1px solid $nav_bg;
    transition: 300ms;
    outline: none;
    color: $nav_bg;

    &:hover{
        background-color: $nav_bg;
        color: $title_color;
        font-weight: bold;
        transform: translateY(-50px) scale(1.3);
    }
}

.add-to-cart{
    height: 250px;
    width: 30px;
    overflow: hidden;
    transform: translateY(-40px);
    color: $nav_bg;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $nav_bg;
    transition: 300ms;

    &:hover{
        background-color: $bg;
        color: white;
        font-weight: bolder;
        transform:  translateY(-40px) scale(1.3);
    }
    button{
        transform: translateX(-8px);
        border:none;
        height: 110%;
        background: none;
        width: 150%;
    }
    img{
        height: 75%;
        width: 75%;
    }

}